<%= render 'userNavBar',user: current_user %>

<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Ask a Question?</div>
      <div class="card-body">

<%= render 'form', question: @question %>


</div>
</div>
</div>
