<div class="container">
    <div class="card card-login mx-auto mt-5">
    

<%= render 'form', service: @service %>
<hr>
     
<div class="text-center">
<small>Want to delete?</small>
<br/>
<%= link_to "Delete Poster", @pet, data: { confirm: "Are you sure?" }, method: :delete,class:"btn btn-danger" %>
</div>
</div>
</div>
</div>

