<%= render 'userNavBar',user: current_user %>

<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">What Service Do You Offer?</div>
      <div class="card-body">


<%= render 'form', service: @service %>

</div>
</div>
</div>

</div>
<br/>
<br/>
<%= render 'footer' %>

