<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Forgot your Password?</div>
      <div class="card-body">
	
	<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	 
	
    
   	  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  

	

      <button type="submit" value="Send" id="submit" class="btn btn-primary btn-block">Reset Password</button>
 
	<% end %>

	 <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
	 </div>
    </div>
  </div>