
 <div class="row">

 <div class="col-lg-3">

   <h1 class="my-4"><%= title %></h1>
   <div class="list-group">
     <a href="#" class="list-group-item">where the </a>
     <a href="#" class="list-group-item">search and filter</a>
     <a href="#" class="list-group-item">will be put</a>
   </div>

 </div>