<%= render 'userNavBar',user: current_user %>

<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Create a new Product</div>
      <div class="card-body">
     
<%= render 'form', product: @product %>

</div>
</div>
</div>
