<%= form_for([@product, @product.reviews.build], remote: true) do |f| %>
  <%= f.text_area :review ,class:'form-control' %><br />
  <%= f.hidden_field :user_id,value:current_user.id %>
  <%= f.hidden_field :product_id,value:@product.id %>
  <button type="submit" value="Send" id="submit" class="btn btn-primary ">Send</button>
<% end %>

  